package uk.co.wilson.ng.runtime.threadcontext;

import java.math.BigDecimal;
import java.math.BigInteger;

import ng.lang.NgRuntimeException;
import ng.runtime.metaclass.MetaClass;
import ng.runtime.metaclass.util.PrimitiveMetaClasses;
import ng.runtime.threadcontext.ExtendedThreadContext;
import ng.runtime.threadcontext.NotPerformed;

public class ${Op} extends BaseBinaryAritmeticOperationImpl {
  public ${Op}(final ExtendedThreadContext tc) {
    super(tc);
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final Object rhs) {
  final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "${verb} one of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final Object lhs, final MetaClass rhsMetaClass, final Object rhs) {
  final Object result = rhsMetaClass.${op}(this).doReverseApply(this.tc, lhs, rhs);
 
    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "${verb} one of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final MetaClass rhsMetaClass, final Object rhs) {
  final Object result= lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhsMetaClass, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "${verb} one of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final char rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a char" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final byte rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a byte" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final short rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a short" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final int rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a int" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final long rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a long" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final float rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a float" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final double rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a double" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final BigInteger rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a BigInteger" );
    } else {
      return result;
    }
  }

  public Object apply(final MetaClass lhsMetaClass, final Object lhs, final BigDecimal rhs) {
    final Object result = lhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a value of type " + lhs.getClass().getName() + "$verb a BigDecimal" );
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a char $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a byte $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a short $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a int $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a long $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a float $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a double $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a BigInteger $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final MetaClass rhsMetaClass, final Object rhs) {
    final Object result = rhsMetaClass.${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Cannot ${op} a BigDecimal $verb a value of type " + rhs.getClass().getName());
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final char lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getCharMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a char $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final byte lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getByteMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a byte $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final short lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getShortMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a short $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final int lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getIntMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} an int $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final long lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getLongMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a long $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final float lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a float $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final double lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a double $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final BigInteger lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigInteger $verb a short");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final BigDecimal rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a BigDecimal");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final BigInteger rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a BigInteger");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final byte rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a byte");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final char rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a char");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final double rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a double");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final float rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a float");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final int rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb an int");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final long rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a long");
    } else {
      return result;
    }
  }

  public Object apply(final BigDecimal lhs, final short rhs) {
    final Object result = PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doApply(this.tc, lhs, rhs);

    if (result == ExtendedThreadContext.NOT_PERFORMED) {
      throw new NgRuntimeException("Default behaviour has been changed and now it is not possible to ${op} a BigDecimal $verb a short");
    } else {
      return result;
    }
  }
  
  public int intApply(char lhs, char rhs) throws NotPerformed {
	return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(char lhs, byte rhs) throws NotPerformed {
	return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(char lhs, short rhs) throws NotPerformed {
	return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
 }
  
  public int intApply(char lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public long longApply(char lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(char lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(char lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(char lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(char lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getCharMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public int intApply(byte lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(byte lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(byte lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(byte lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public long longApply(byte lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(byte lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(byte lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(byte lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(byte lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getByteMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public int intApply(short lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(short lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(short lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(short lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public long longApply(short lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(short lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(short lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(short lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(short lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getShortMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public int intApply(int lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(int lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(int lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public int intApply(int lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doIntApply(this.tc, lhs, rhs);
  }
  
  public long longApply(int lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(int lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(int lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(int lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(int lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getIntMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public long longApply(long lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public long longApply(long lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public long longApply(long lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public long longApply(long lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public long longApply(long lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doLongApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(long lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(long lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(long lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(long lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getLongMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public float floatApply(float lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(float lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(float lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(float lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(float lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(float lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(float lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(float lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(float lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getFloatMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public double doubleApply(double lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(double lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(double lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getDoubleMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  

  public BigInteger bigIntegerApply(BigInteger lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(BigInteger lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(BigInteger lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(BigInteger lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(BigInteger lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public float floatApply(BigInteger lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doFloatApply(this.tc, lhs, rhs);
  }
  
  public double doubleApply(BigInteger lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doDoubleApply(this.tc, lhs, rhs);
  }
  
  public BigInteger bigIntegerApply(BigInteger lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigIntegerApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigInteger lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigIntegerMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, char rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, byte rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, short rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, int rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, long rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, float rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, double rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, BigInteger rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
  
  public BigDecimal bigDecimalApply(BigDecimal lhs, BigDecimal rhs) throws NotPerformed {
    return PrimitiveMetaClasses.getBigDecimalMetaClass().${op}(this).doBigDecimalApply(this.tc, lhs, rhs);
  }
}

